In [32]:
#Importing the Needed Library

import pandas as pd

In [30]:
#Importing Data From the CSV File

data = pd.read_csv("listings.csv")
print(data)

            id  ... availability_365
0        49091  ...              365
1        50646  ...              365
2        56334  ...              365
3        71609  ...              353
4        71896  ...              355
...        ...  ...              ...
7902  38105126  ...               61
7903  38108273  ...              365
7904  38109336  ...              173
7905  38110493  ...               30
7906  38112762  ...              365

[7907 rows x 16 columns]

In [29]:
#First Question

#This function is used to find the maximum value of the data. 
#Axis=0 indicates that it will find the maximum of each column by searching all the row
maxValue = data.max(axis = 0)
print("- Maximum -\n")
print("All data: \n", maxValue)

#This function is used to find the minimum value of the data. 
#Axis=0 indicates that it will find the minimum of each column by searching all the row
minValue = data.min()
print("\n\n- Minimum -\n")
print("All data: \n", minValue)

- Maximum -

All data:
 id                                   38112762
host_id                             288567551
host_name                                  ｼﾝ
neighbourhood_group               West Region
neighbourhood                          Yishun
latitude                              1.45459
longitude                             103.973
room_type                         Shared room
price                                   10000
minimum_nights                           1000
number_of_reviews                         323
reviews_per_month                          13
calculated_host_listings_count            274
availability_365                          365
dtype: object


- Minimum -

All data:
 id                                                   49091
host_id                                              23666
host_name                         (Email hidden by Airbnb)
neighbourhood_group                         Central Region
neighbourhood                                   Ang Mo Kio
latitude                                           1.24387
longitude                                          103.647
room_type                                  Entire home/apt
price                                                    0
minimum_nights                                           1
number_of_reviews                                        0
reviews_per_month                                     0.01
calculated_host_listings_count                           1
availability_365                                         0
dtype: object

In [27]:
#2nd Question

#Deleting Any Row That Containt NaN Value
droppedData = data.dropna()

#3rd Question

#Replacing NaN value with 0
filledData = data.fillna(0)

#To Check the Length of the Data
print("Original Length:", len(data))
print("Dropped Length:", len(droppedData))
print("Replaced Length:", len(filledData))

Original Length: 7907
Dropped Length: 5148
Replaced Length: 7907